#u156
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u150,#u144
{
	background-color: transparent;
	position: relative;
}

#u157
{
	border-style: none;
	border-color: transparent;
	background-color: #F11D1D;
}

